.Nav {
  height: 50px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  position: fixed;
  bottom: 0;
}

button {
  background-color: white;
  border: none;
}

.NavLink {
  color: #aeb8c4;
  font-size: 50px;
  padding: 5px 10px;
}

.NavLink:hover {
  color: #4c5968;
}
